.classBevel {
    color: black;
    /* box width */
    width: 180px;
    /* box height */
    height: 500px;
    /* scale box */
    padding: 20px;
    border: 3px solid black;
    background-color:grey;
    /* distance from top */
    margin-top: -465px;
    /* distance from left */
    margin-left: 700px;
}