.myClass {
    color: black;
    width: 180px;
    height: 420px;
    padding: 20px;
    border: 3px solid black;
    background-color:grey;
    /*margin-top: 0px;*/
    margin: 1px;
}


.classConvert {
    color: black;
    width: 180px;
    height: 420px;
    padding: 20px;
    border: 3px solid black;
    background-color:grey;
    margin-top: -465px;
    margin-left: 270px;
}

.classFeedSpeed {
    color: black;
    /* box width */
    width: 180px;
    /* box height */
    height: 500px;
    /* scale box */
    padding: 20px;
    border: 3px solid black;
    background-color:grey;
    /* distance from top */
    margin-top: -465px;
    /* distance from left */
    margin-left: 535px;
}

.classBevel {
    color: black;
    /* box width */
    width: 180px;
    /* box height */
    height: 500px;
    /* scale box */
    padding: 20px;
    border: 3px solid black;
    background-color:grey;
    /* distance from top */
    margin-top: -545px;
    /* distance from left */
    margin-left: 800px;
}



h1 {
    color: blue;
    margin-left: 35%;
    margin-right: 40%;
    border-top: 6px solid green;
    border-bottom: 6px solid red;
    border-left: 6px;
    background-color: lightgrey;
}

p {
    color: rgb(61, 6, 27);
    font-size:25px; 
    font-weight: bold;  
}

input[type=text] {
    width: 80%;
    padding: 12px 8px;
    border-radius: 8px;
    font-size: 14px;
}

input[type=button] {
    width: 80%;
    padding: 12px 8px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 15%;
}
